* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Header */

header > .information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 20px 2px 50px;
  height: 100px;
  margin: 0 auto;
  background-color: #f7f8f0;
}
#informationimg {
  width: 5vw;
}
.informationlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}
.informationtext {
  display: inline;
  flex: 1;
  margin-left: -5vw;
}
.informationname1 {
  font-size: 1.6vw;
  font-family: "UTM A&S Signwriter";
  color: rgb(71, 194, 247);
}
.informationname2 {
  font-size: 1.6vw;
  font-family: "UTM Aristote";
  color: rgb(250, 55, 55);
}

.informationslogan {
  width: 35%;
  height: 40px;
  margin: 0px 0px 10px 5px;
  flex: 1;
}
.informationslogan > h3 {
  font-size: 1.25vw;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

/* Navigation */

nav#navigation {
  display: flex;
  justify-content: space-around;
  padding: 0 15vw 0 10vw;
  align-items: center;
  background-color: #fbe580;
}
.sticky {
  position: fixed;
  width: 100%;
  text-align: left;
  z-index: 100000;
  top: 0;
}
.main-menu {
  flex: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  align-items: center;
  background-color: #fbe580;
}
.homeimg {
  height: 15px;
  background-color: #fbe580;
}
.ulmain-menu {
  list-style: none;
  flex: 10;
  display: flex;
  justify-content: space-between;
}
.ulmain-menu > li {
  padding: 0px 30px;
}
.ulmain-menu > li > a {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 1vw;
}
.menu3gach {
  float: left;
  flex: 0.3;
  padding: 0 10px;
}
.menugach {
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu3g li {
  padding: 0px 2px 3px 2px;
}
.container > div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3.5px 0;
}
.mini-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}
.mini-menu,
.guongmatlop12a4 {
  position: relative;
}
.menuguongmatlop12a4,
ul.menu3g {
  visibility: hidden;
  position: absolute;
  font-size: 12px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 5px 10px 20px;
  top: 50px;
  transition: 0.3s;
  width: 250px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.603);
}
ul.menu3g {
  padding: 10px 5px 10px 20px;
  margin-left: 50%;
}
ul.menuguongmatlop12a4 {
  margin-left: -10%;
}
ul.menu3g > a {
  display: inline-block;
}
.guongmatlop12a4:hover .menuguongmatlop12a4,
.mini-menu:hover .menu3g {
  visibility: visible;
  top: 40px;
}
.ulmain-menu > li > a:hover,
.menu3g > a:hover {
  border-bottom: 1px solid black;
  transition: all 150ms linear 0s;
  transform: scale(1.1);
}
ul .ulguongmat12a43g > li {
  padding-left: 10px;
}
.menuguongmatlop12a4 a:hover,
.menu3g a:hover {
  font-size: 16px;
  border-bottom: 1px solid black;
  background-color: #efeeee;
  transition: 0.2s;
}
.guongmatlop12a4 li {
  padding: 0px 2px 3px 2px;
}

/* Body */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main */
/* main {
  min-height: 100vh;
  background: url(../img/backgroundhome.png);
  background-size: cover;
  background-repeat: no-repeat;
} */

/* Footer */
footer {
  margin-top: auto;
  width: 100%;
  height: 150px;
  background-color: #fffde1;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footertop {
  text-align: center;
  padding: 30px 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 20px;
}
