/* Slide */
.slideprev,
.slidenext {
  position: absolute;
  top: 250px;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 9999;
  font-size: 30px;
}
.slideprev {
  left: 0vw;
}
.slidenext {
  left: 98vw;
}
.slideprev:hover,
.slidenext:hover {
  background: rgba(255, 255, 255, 0.4);
}
.slide {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slideimage {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease;
}
.slide {
  flex: 0 0 100%;
}
.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.chuyenslide-dot {
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  margin-top: 0;
  z-index: 9999;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 90%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(0, 0, 0, 0.8);
  cursor: pointer;
}
.dot.active {
  background: #333;
  border: none;
}
/* Main-content */
.main-content {
  margin-top: -3px;
  /* background: linear-gradient(to bottom, #ffeeb3, #e28759); */
  background: linear-gradient(
    135deg,
    rgba(255, 201, 148, 1) 0%,
    rgba(252, 219, 151, 1) 40%,
    rgba(245, 217, 142, 1) 100%
  );
  min-height: 100vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
}
/* Tilte Báo Tường */
.main-content > .content-titlebaotuong {
  display: flex;
  justify-content: center;
  font-family: "UTM Bustamalaka";
  font-size: 5vw;
  padding-top: 3vh;
  color: rgb(255, 74, 74);
}
/* Kỷ niệm */
.content-kyniemdangnho > .titlekyniemdangnho {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-family: "SVN-Dancing Script";
  color: #f16d34;
}
.titlekyniemlop10,
.titlekyniemlop11,
.titlekyniemlop12 {
  padding-left: 5vw;
  font-size: 28px;
  font-family: "SVN-Ready";
  color: #fa891a;
}
.titlekyniem1-lop10,
.titlekyniem1-lop10,
.titlekyniem2-lop10,
.titlekyniem1-lop11,
.titlekyniem2-lop11,
.titlekyniem3-lop11,
.titlekyniem1-lop12,
.titlekyniem2-lop12,
.titlekyniem3-lop12 {
  width: 50vw;
  padding: 1vh 5vw 1vh 7vw;
  font-size: 20px;
  font-family: "SVN-Harabaras";
}
.noidungkyniem1-lop10,
.noidungkyniem1-lop10,
.noidungkyniem2-lop10,
.noidungkyniem1-lop11,
.noidungkyniem2-lop11,
.noidungkyniem3-lop11,
.noidungkyniem1-lop12,
.noidungkyniem2-lop12,
.noidungkyniem3-lop12 {
  padding-left: 2vw;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 8px;
  transition:
    opacity 0.7s,
    max-height 0.7s;
}
.titlekyniem1-lop10:hover .noidungkyniem1-lop10,
.titlekyniem2-lop10:hover .noidungkyniem2-lop10,
.titlekyniem1-lop11:hover .noidungkyniem1-lop11,
.titlekyniem2-lop11:hover .noidungkyniem2-lop11,
.titlekyniem3-lop11:hover .noidungkyniem3-lop11,
.titlekyniem1-lop12:hover .noidungkyniem1-lop12,
.titlekyniem2-lop12:hover .noidungkyniem2-lop12,
.titlekyniem3-lop12:hover .noidungkyniem3-lop12 {
  opacity: 1;
  max-height: 1000px;
  transition:
    opacity 0.7s,
    max-height 0.7s;
}
.noidungkyniem3-lop12 {
  margin-bottom: 10vh;
}
