main {
  min-height: 100vh;
  background: linear-gradient(
    351deg,
    rgba(252, 175, 98, 1) 0%,
    rgba(237, 217, 175, 1) 79%,
    rgba(242, 226, 182, 1) 100%
  );
}
.titletvtieubieu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  font-size: 3vw;
  font-family: "SVN-Dancing Script";
  color: #f16d34;
}
.main-tvtieubieu {
  margin: 5vh 10vw 5vh 10vw;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
  align-items: center;
}
.clbbongda {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.Tan {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.XNhat {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.LNhat {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.QNhi {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.Hieu {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.dimgtvtieubieu {
  grid-column: 2 / 3;
  grid-row: 1 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dimgtvtieubieu > img {
  height: 70vh;
  border-radius: 10%;
  transition: opacity 0.4s;
  opacity: 1;
}
.main-tvtieubieu > div > h5 {
  font-size: 27px;
  color: red;
  font-family: "UTM ViceroyJF";
  font-style: italic;
  font-weight: 200;
}
.main-tvtieubieu > div > h6 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(90, 90, 90);
  padding: 0 2vw;
}
.main-tvtieubieu > div:not(.dimgbancansu) {
  transition: all 0.3s ease-in-out;
}
.main-tvtieubieu > div:not(.dimgbancansu):hover {
  padding-left: 10vh;
}
